# Exercises of difficulty 8 in R

In [6]:
# Needed package to test the various functions
library(testthat)

# 1. Reversed Strings
Complete the solution so that it reverses the string passed into it.  
Example:

        'world'  =>  'dlrow'

In [7]:
solution <- function(s) {
    # Split 's' into its single letters
    s_split <- strsplit(s, split = "")[[1]]
    
    # Reverse the order of the single letters of 's'
    s_split_reverse <- rev(s_split)
    
    # Paste the letters of 's_split_reverse' to a single string string & return it
    paste(s_split_reverse, collapse = "")
}

In [8]:
test_that("example", {
  expect_equal(solution('world'), 'dlrow')
  expect_equal(solution('hello'), 'olleh')
  expect_equal(solution(''), '')
  expect_equal(solution('h'), 'h')
})

# 2. Beginner Series - Clock
Clock shows 'h' hours, 'm' minutes and 's' seconds after midnight.  
Your task is to make 'Past' function which returns time converted to milliseconds.  

Example:

    past(0, 1, 1) == 61000
    
Input constraints:

    0 <= h <= 23, 0 <= m <= 59, 0 <= s <=

In [10]:
past <- function(h, m, s) {
    # Convert the hours 'h', minutes 'm' & seconds 's' to seconds & sum them up
    s_total <- s + 60 * m + 3600 * h 
    
    # Convert from seconds to milli-seconds & return it
    s_total * 1000
}

In [11]:
test_that("basic tests", {
  expect_equal(past(0, 1, 1), 61000)
  expect_equal(past(1, 1, 1), 3661000)
  expect_equal(past(0, 0, 0), 0)
  expect_equal(past(1, 0, 1), 3601000)
  expect_equal(past(1, 0, 0), 3600000)
})

# 3. Square(n) Sum
Complete the square sum function so that it squares each number passed into it 
and then sums the results together.  

For example:
    
    [1, 2, 2] should return 9 because 1^2 + 2^2 + 2^2 = 9.

In [13]:
square_sum <- function(nums) {
    # Vector-wise squaring of 'nums', then sum up & finally returned
    sum(nums^2)
}

In [14]:
test_that("basic tests", {
  expect_equal(square_sum(c(1, 2)), 5)
  expect_equal(square_sum(c(0, 3, 4, 5)), 50)
  expect_equal(square_sum(c()), 0)
  expect_equal(square_sum(c(-1, -2)), 5)
  expect_equal(square_sum(c(-1, 0, 1)), 2)
})

# 4.Calculate BMI

Write function bmi that calculates body mass index (bmi = weight / height2).

- if bmi <= 18.5 return "Underweight"
- if bmi <= 25.0 return "Normal"
- if bmi <= 30.0 return "Overweight"
- if bmi > 30 return "Obese"

In [15]:
bmi <- function(weight, height) {
    # Calculate the BMI based on weight & height
    bmi <- weight / height^2
    
    # Based on the bmi, return whether the person is 
    # under-/ over-weight/ ...
    if (bmi <= 18.5) return("Underweight")
    if (bmi <= 25.0) return("Normal")
    if (bmi <= 30.0) return("Overweight")
    return('Obese')
}

In [16]:
test_that("test", {
  expect_equal(bmi(80.0, 1.80), "Normal");
})

# 5. Summation

Write a program that finds the summation of every number from 1 to num. 
The number will always be a positive integer greater than 0.

### For example:

    summation(2) -> 3
    1 + 2

    summation(8) -> 36
    1 + 2 + 3 + 4 + 5 + 6 + 7 + 8

In [17]:
summation <- function(n) {
    # Calcuate the sum of the seq from 1 to n & return it
    sum(seq_len(n))
}

In [18]:
test_that('basic tests', {
  expect_equal(summation(1), 1)
  expect_equal(summation(8), 36)
  expect_equal(summation(22), 253)
  expect_equal(summation(100), 5050)
  expect_equal(summation(213), 22791)
})

# 6. Reversed Words

Complete the solution so that it reverses all of the words within the string passed in.  
Example: "The greatest victory is that which requires no battle" --> "battle no requires which that is victory greatest The"

In [17]:
solution <- function(sentence) {
    # Extract the single words from 'sentence'
    words = unlist(strsplit(sentence, split = " "))
    
    # Reverse the order of the vector 'words' & paste it to a single
    # string & return it then
    paste(rev(words), collapse = " ")
}

In [18]:
test_that('Basic tests', {
  expect_equal(solution("hello world!"), "world! hello")
  expect_equal(solution("yoda doesn't speak like this"), "this like speak doesn't yoda")
  expect_equal(solution("foobar"), "foobar")
  expect_equal(solution("kata editor"), "editor kata")
  expect_equal(solution("row row row your boat"), "boat your row row row")
})

# 7. MakeUpperCase
Write a function which converts the input string to uppercase.

In [19]:
makeUpperCase <- function(s) {
    # Convert 's' to upper-case & return it
    toupper(s)
}

In [20]:
test_that("test", {
  expect_equal(makeUpperCase("hello"), "HELLO");
})

# 8. Short Long Short
Given 2 strings, a and b, return a string of the form short + long + short, with the shorter string on the outside and the longer string on the inside. The strings will not be the same length, but they may be empty (zero length).

Hint for R users:

    The length of string is not always the same as the number of characters

For example: 

    (Input1, Input2) --> output
    ("1", "22")      --> "1221"
    ("22", "1")      --> "1221"

In [21]:
solution <- function(a, b) {
    # Get the length of the words a & b
    a_len = length(strsplit(a, split = "")[[1]])
    b_len = length(strsplit(b, split = "")[[1]])

    # Depending on which word has more characters, paste them
    # such that we have shorter-word, longer-word, shorter-word
    # as single string and return it then
    if (a_len > b_len) {
        return(paste0(b, a, b))
    } else {
        return(paste0(a, b, a))
    }    
}

In [22]:
test_that("example test cases", {
   expect_equal(solution('45', '1'), '1451')
   expect_equal(solution('13', '200'), '1320013')
   expect_equal(solution('Soon', 'Me'), 'MeSoonMe')
   expect_equal(solution('U', 'False'), 'UFalseU')
})

# 9. Even or Odd
Create a function that takes an integer as an argument and returns "Even" for even numbers or "Odd" for odd numbers.

In [23]:
even_or_odd <- function(n) {
    # If 'n' modulo 2 is 0, then its even, else its odd
    if (n %% 2 == 0) return("Even") 
    return("Odd")
}

In [24]:
test_that('Basic tests', {
  expect_equal(even_or_odd(2), "Even")
  expect_equal(even_or_odd(1), "Odd")
  expect_equal(even_or_odd(-4), "Even")
  expect_equal(even_or_odd(-3), "Odd")
  expect_equal(even_or_odd(0), "Even")
  expect_equal(even_or_odd(1545452), "Even")
  expect_equal(even_or_odd(7), "Odd")
  expect_equal(even_or_odd(78), "Even")
  expect_equal(even_or_odd(17), "Odd")
  expect_equal(even_or_odd(74156741), "Odd")
  expect_equal(even_or_odd(100000), "Even")
})

# 10. Twice as old
Your function takes two arguments:

    current father's age (years)
    current age of his son (years)

Сalculate how many years ago the father was twice as old as his son (or in how many years he will be twice as old).

In [26]:
twice_as_old <- function(dad_years_old, son_years_old) {
    # Substract double the age of the son from the the dads age & return it
    #  -> thats when dad was twice as old, as his son now 
    return(abs(dad_years_old - son_years_old * 2))
}

In [27]:
test_that('Basic tests', {
  expect_equal(twice_as_old(36,7) , 22)
  expect_equal(twice_as_old(55,30) , 5)
  expect_equal(twice_as_old(42,21) , 0)
  expect_equal(twice_as_old(22,1) , 20)
  expect_equal(twice_as_old(29,0) , 29)
})