# Exercises of difficulty 6 in R

In [1]:
library(testthat)

# 1. PI approximation

The aim of the kata is to try to show how difficult it can be to calculate decimals
of an irrational number with a certain precision. We have chosen to get a few 
decimals of the number "pi" using the following infinite series (Leibniz 1646–1716):

     PI / 4 = 1 - 1/3 + 1/5 - 1/7 + ... which gives an approximation of PI / 4.
     --> see: http://en.wikipedia.org/wiki/Leibniz_formula_for_%CF%80
     

To have a measure of the difficulty we will count how many iterations are needed
to calculate PI with a given precision.

There are several ways to determine the precision of the calculus but to keep 
things easy we will calculate to within epsilon of your language Math::PI constant.
In other words we will stop the iterative process when the absolute value of the 
difference between our calculation and the Math::PI constant of the given language
is less than epsilon.

Your function returns an array or an arrayList or a string or a tuple depending 
on the language (See sample tests) where your approximation of PI has 10 decimals

### Example :

    your function calculates 1000 iterations and 3.140592653839794 but returns:
    iter_pi(0.001) --> [1000, 3.1405926538]

Unfortunately, this series converges too slowly to be useful, as it takes over 
300 terms to obtain a 2 decimal place precision. To obtain 100 decimal places of 
PI, it was calculated that one would need to use at least 10^50 terms of this expansion!

In [2]:
iterPi <- function(epsilon) {
    
    # Set current pi-value to 4
    pi_current = 4
    
    # Check if 'pi_current' is close enough to the true pi (>= 'epsilon')
    if (abs(pi_current - pi) <= epsilon) return(c(0, round(pi_current, 10)))
    
    # Start the Leibnitz-Series
    for (i in 2:1e+6) {
        
        # Add/ substract depending whether current value 'i' is even or odd 
        if (i %% 2 != 0) {
            pi_current <- pi_current + 4/(2 * i - 1)
        } else {
            pi_current <- pi_current - 4/(2 * i - 1)
        }
        
        # Check if 'pi_current' is close enought to the true 'pi' 
        # If so, return 'pi_current' & the amount of iterations needed
        if (abs(pi_current - pi) <= epsilon) return(c(i, round(pi_current, 10)))
    }
}

In [3]:
testing <- function(eps, expected) {
  actual <- iterPi(eps)
  # there is a tolerance
  expect_equal(actual, expected, tol = 1e-10, scale =  1, info = )
}

test_that("test iterPi", {
  testing(0.1, c(10, 3.0418396189))
  testing(0.01, c(100, 3.1315929036))
  testing(0.001, c(1000, 3.1405926538))
})

# 2. Find the missing term in an Arithmetic Progression

An Arithmetic Progression is defined as one in which there is a constant difference
between the consecutive terms of a given series of numbers. You are provided with 
consecutive elements of an Arithmetic Progression. There is however one hitch: 
exactly one term from the original series is missing from the set of numbers which
have been given to you. The rest of the given series is the same as the original AP. 
Find the missing term.

You have to write a function that receives a list, list size will always be at 
least 3 numbers. The missing term will never be the first or last one.

### Example

    findMissing([1, 3, 5, 9, 11]) == 7

PS: This is a sample question of the facebook engineer challenge on interviewstreet.
I found it quite fun to solve on paper using math, derive the algo that way. Have fun!

In [4]:
find_missing <- function(sequence){
    
    # Get the differences between all following values in sequence
    differences <- sapply(2:length(sequence), function(x) sequence[x] - sequence[x -1])
    
    # Create Table of differences
    diff_table <- table(differences)

    # Get the difference between following values in sequence that is not matching
    # (appears only once) & the matching difference between following values in sequence 
    # (appears at least twiche)
    no_match_diff <- as.numeric(names(diff_table)[diff_table == 1])
    match_diff    <- as.numeric(names(diff_table)[diff_table > 1])
    
    # Get the missing value, by going to the entry that has an unmachting difference
    return(sequence[differences == no_match_diff][1] + match_diff)
}

In [5]:
test_that("Example Test", {
  expect_equal(find_missing(c(1, 2, 3, 4, 6, 7, 8, 9)), 5)
})

# 3. Sum of many ints

Write this function: 
    
    f(n, m) = Sum from i = 1, to n: i %% m
    
for i from 1 to n, do i % m and return the sum

### Example

    f(n=10, m=5)
    --> returns 20 (1+2+3+4+0 + 1+2+3+4+0)
    
Note: You'll need to get a little clever with performance, since n can be a very
large number

In [6]:
f <- function(n, m){
  # Create sequence from 1:n and do modulo operation on each element,
  # then sum up all these elements
  sum(sapply(1:n, FUN = function(x) x %% m))
}

In [7]:
test_that("Example Tests", {
  expect_equal(f(10, 5), 20)
  expect_equal(f(20, 20), 190)
  expect_equal(f(15, 10), 60)
})

# 4. Are they the 'same'

Given two arrays a and b write a function comp(a, b) that checks whether the two 
arrays have the "same" elements, with the same multiplicities. 
"Same" means, here, that the elements in b are the elements in a squared, 
regardless of the order.


### Examples
#### Valid arrays

    a = [121, 144, 19, 161, 19, 144, 19, 11]  
    b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

comp(a, b) returns true because in b 121 is the square of 11, 14641 is the square
of 121, 20736 the square of 144, 361 the square of 19, 25921 the square of 161, 
and so on.


#### Invalid arrays
If we change the first number to something else, comp may not return true anymore:

    a = [121, 144, 19, 161, 19, 144, 19, 11]  
    b = [132, 14641, 20736, 361, 25921, 361, 20736, 361]

In [8]:
comp <- function(a1, a2) {
    # All sqaured values of 'a1' in 'a2' & all values of 'a2' are in 'a1'-squared
    return(all(a1^2 %in% a2) & all(a2 %in% a1^2))
}

In [9]:
testing <- function(a1, a2, expected) {
  actual <- comp(a1, a2)
  expect_equal(actual, expected)
}

test_that("tests", {
  a1 = c(121, 144, 19, 161, 19, 144, 19, 11)
  a2 = c(11*11, 121*121, 144*144, 19*19, 161*161, 19*19, 144*144, 19*19)
  testing(a1, a2, TRUE)
  a1 = c(121, 144, 19, 161, 19, 144, 19, 11)
  a2 = c(11*21, 121*121, 144*144, 19*19, 161*161, 19*19, 144*144, 19*19)
  testing(a1, a2, FALSE)
})

# 5. Help the bookseller!

A bookseller has lots of books classified in 26 categories labeled A, B, ... Z. 
Each book has a code 'c' of 3, 4, 5 or more characters. The 1st character of a code
is a capital letter which defines the book category.

In the bookseller's stocklist each code 'c' is followed by a space and by a positive
integer 'n' (int n >= 0) which indicates the quantity of books of this code in stock.

For example an extract of a stocklist could be:

    L = ["ABART 20", "CDXEF 50", "BKWRK 25", "BTSQZ 89", "DRTYM 60"]
    
You will be given a stocklist (e.g. : L) and a list of categories in capital letters e.g : 

    M = ["A", "B", "C", "W"]
    
and your task is to find all the books of L with codes belonging to each category 
of M and to sum their quantity according to each category.
For the lists L and M of example you have to return the string:

     (A : 20) - (B : 114) - (C : 50) - (W : 0)
     
     
where A, B, C, W are the categories, 20 is the sum of the unique book of category A,
114 the sum corresponding to "BKWRK" and "BTSQZ", 50 corresponding to "CDXEF" and
0 to category 'W' since there are no code beginning with W.
If L or M are empty return string is ""

### Note:
In the result codes and their values are in the same order as in M.

In [10]:
stockList <- function(listOfArt, listOfCat) {
     
  # Extract the category & frequency of each single element in 'listOfArt'!
  categories <- sapply(X = listOfArt, FUN = function(x) unlist(strsplit(x, split = ""))[1])
  frequecies <- as.numeric(sapply(X = listOfArt, FUN = function(x) unlist(strsplit(x, split = " "))[2]))

  # In case none of the categories in 'listOfCat' exist in 'listOfArt' return empty string
  if (!any(listOfCat %in% categories)) return("")
                                
  # Define Vector to store results
  res_vec <- c()
  
  # Loop over each element in 'listOfCat' and get the absolute frequency for each
  # category in 'listOfCat'
  for (curr_cat in listOfCat) {
  
    # Get the index of the objects with the category 'curr_cat'
    products_of_curr_cat <- which(categories == curr_cat)
    
    # Sum up the frequencies of all objects of class 'curr_cat'
    total_freq_curr_cat <- sum(frequecies[products_of_curr_cat])
    
    # Add it to the 'res_vec' vector
    res_vec <- c(res_vec, paste0('(', curr_cat, ' : ', total_freq_curr_cat, ')'))
  }
  
  # Return the results as single string
  return(paste(res_vec, collapse = " - "))
}

In [16]:
testing <- function(listOfArt, listOfCat, expected) {
  actual <- stockList(listOfArt, listOfCat)
  expect_equal(actual, expected)
}

test_that("tests", {
  b = c("BBAR 150", "CDXE 515", "BKWR 250", "BTSQ 890", "DRTY 600", "XRAV 1")
  c = c("A", "B", "C", "D")
  res = "(A : 0) - (B : 1290) - (C : 515) - (D : 600)"
  testing(b, c, res)
})

# 6. Rainfall

'data' and 'data1' are two strings with rainfall records of a few cities for 
months from January to December. The records of towns are separated by '\n'. 
The name of each town is followed by ':'.

Data and Towns can be seen in "Your Test Cases:".

### Task:
  > mean(town, strng):
    should return the average of rainfall for the city town and the strng data 
    or data1 (In R and Julia this function is called avg).
  > variance(town, strng) 
    should return the variance of rainfall for the city town and the strng data 
    or data1.


### Examples

    mean("London", data), 51.19(9999999999996) 
    variance("London", data), 57.42(833333333374)
    
### Notes:
  > if functions mean or variance have as parameter town a city which has no 
    records return -1 or -1.0 (depending on the language)
  > Don't truncate or round: the tests will pass if:
      - abs(your_result - test_result) <= 1e-2 or 
      - abs((your_result - test_result) / test_result) <= 1e-6

In [11]:
get_values <- function(town, strng) {
  "Extract the numeric, rainfall values from 'strng' for 'town'"
  
  # Check whether 'town' is in 'strng'
  if (!grepl(town, strng)) return(NA)
  
  # Split the String into its single cities
  split_data <- unlist(strsplit(strng, split = "\n"))
  
  # Get the current city
  city_data  <- split_data[grep(town, split_data)]
  
  # Extract the numeric values
  rain_values             <- strsplit(city_data, split = ":")[[1]][2]
  rain_values_monthly     <- strsplit(rain_values, split = ",")[[1]]
  rain_values_monthly_raw <- unlist(
    lapply(rain_values_monthly, FUN = function(x) strsplit(x, split = " ")[[1]][2])
  )
  return(as.numeric(rain_values_monthly_raw))
}

avg <- function(town, strng) {
    # Use 'get_values' to get the rainfall values of a single city
    rainfall_data <- get_values(town = town, strng = strng)
    
    # If the data is not empty, return the 'mean' (else -1)
    if (all(is.na(rainfall_data))) {
      return(-1)
    } else {
      return(mean(rainfall_data))
    }
}

variance <- function(town, strng) {
    # Use 'get_values' to get the rainfall values of a single city
    rainfall_data <- get_values(town = town, strng = strng)
    
    # If the data is not empty, return the 'variance' (else -1)
    if (all(is.na(rainfall_data))) {
      return(-1)
    } else {
      return(var(rainfall_data)*(length(rainfall_data)-1)/length(rainfall_data))
    }
}

In [12]:
data0 <- "Rome:Jan 81.2,Feb 63.2,Mar 70.3,Apr 55.7,May 53.0,Jun 36.4,Jul 17.5,Aug 27.5,Sep 60.9,Oct 117.7,Nov 111.0,Dec 97.9
London:Jan 48.0,Feb 38.9,Mar 39.9,Apr 42.2,May 47.3,Jun 52.1,Jul 59.5,Aug 57.2,Sep 55.4,Oct 62.0,Nov 59.0,Dec 52.9
Paris:Jan 182.3,Feb 120.6,Mar 158.1,Apr 204.9,May 323.1,Jun 300.5,Jul 236.8,Aug 192.9,Sep 66.3,Oct 63.3,Nov 83.2,Dec 154.7
NY:Jan 108.7,Feb 101.8,Mar 131.9,Apr 93.5,May 98.8,Jun 93.6,Jul 102.2,Aug 131.8,Sep 92.0,Oct 82.3,Nov 107.8,Dec 94.2
Vancouver:Jan 145.7,Feb 121.4,Mar 102.3,Apr 69.2,May 55.8,Jun 47.1,Jul 31.3,Aug 37.0,Sep 59.6,Oct 116.3,Nov 154.6,Dec 171.5
Sydney:Jan 103.4,Feb 111.0,Mar 131.3,Apr 129.7,May 123.0,Jun 129.2,Jul 102.8,Aug 80.3,Sep 69.3,Oct 82.6,Nov 81.4,Dec 78.2
Bangkok:Jan 10.6,Feb 28.2,Mar 30.7,Apr 71.8,May 189.4,Jun 151.7,Jul 158.2,Aug 187.0,Sep 319.9,Oct 230.8,Nov 57.3,Dec 9.4
Tokyo:Jan 49.9,Feb 71.5,Mar 106.4,Apr 129.2,May 144.0,Jun 176.0,Jul 135.6,Aug 148.5,Sep 216.4,Oct 194.1,Nov 95.6,Dec 54.4
Beijing:Jan 3.9,Feb 4.7,Mar 8.2,Apr 18.4,May 33.0,Jun 78.1,Jul 224.3,Aug 170.0,Sep 58.4,Oct 18.0,Nov 9.3,Dec 2.7
Lima:Jan 1.2,Feb 0.9,Mar 0.7,Apr 0.4,May 0.6,Jun 1.8,Jul 4.4,Aug 3.1,Sep 3.3,Oct 1.7,Nov 0.5,Dec 0.7"

testingMean <- function(town, strng, expected) {
    actual <- avg(town, strng)
    expect_equal(actual, expected, tol = 1e-6, scale =  1, info = "")
}
testingVariance <- function(town, strng, expected) {
    actual <- variance(town, strng)
    expect_equal(actual, expected, tol = 1e-6, scale =  1, info = "")
}

test_that("tests avg data0", {
    testingMean("London", data0, 51.199999999999996) 
})
test_that("tests variance data0", {
    testingVariance("London", data0, 57.42833333333374) 
})
test_that("tests avg data0", {
    testingMean("Berlin", data0, -1) 
})
test_that("tests variance data0", {
    testingVariance("Berlin", data0, -1) 
})

# 7. Highest Scoring Word

Given a string of words, you need to find the highest scoring word. Each letter of a word scores points according to its position in the alphabet: a = 1, b = 2, c = 3 etc.  
You need to return the highest scoring word as a string.
If two words score the same, return the word that appears earliest in the original string.
All letters will be lowercase and all inputs will be valid.

In [13]:
high <- function(x) {
    
    # Define all valid letters from the 'ABC'
    ABC = letters
    
    # Lower 'x', remove trailing white space & split it into its single words
    x       = tolower(x)
    x       = trimws(x)
    x_words = strsplit(x, split = " ")[[1]]
    
    # Loop over each word in 'x_words' & get its scoring (to be stored in 'word_counts')
    word_counts = c()
    for (curr_word in x_words) {
        
        # Split the current word into its single letters
        curr_letters = strsplit(curr_word, split = "")

        # Get the score, by converting letters to its index in the ABC
        curr_word_score = sum(sapply(curr_letters, 
                                     function(curr_letter) match(curr_letter, ABC)))
        
        # Add 'curr_word_score' to 'word_counts'
        word_counts = c(word_counts, curr_word_score)
    }
    
    # Get the index of 'word_counts' with the highest value & return the corresponding word
    pos = which.max(word_counts)
    return(x_words[pos])
}

In [14]:
test_that("Sample Tests", {
  expect_equal(high('man i need a taxi up to ubud'), 'taxi')
  expect_equal(high('what time are we climbing up the volcano'), 'volcano')
  expect_equal(high('take me to semynak'), 'semynak')
  expect_equal(high('aa b'), 'aa')
  expect_equal(high('b aa'), 'b')
  expect_equal(high('bb d'), 'bb')
  expect_equal(high('d bb'), 'd')
  expect_equal(high('aaa b'), 'aaa')
})

# 8. Playing with digits
Some numbers have funny properties. For example:

    89    --> 8¹ + 9² = 89 * 1
    695   --> 6² + 9³ + 5⁴= 1390 = 695 * 2
    46288 --> 4³ + 6⁴+ 2⁵ + 8⁶ + 8⁷ = 2360688 = 46288 * 51

Given a positive integer n written as abcd... (a, b, c, d... being digits) and a positive integer p we want to find a positive integer k, if it exists, such as the sum of the digits of n taken to the successive powers of p is equal to k * n.

In other words: Is there an integer k such as : (a ^ p + b ^ (p+1) + c ^(p+2) + d ^ (p+3) + ...) = n * k

If it is the case we will return k, if not return -1.

Note: n and p will always be given as strictly positive integers.

    dig_pow(89, 1) should return 1 since 8¹ + 9² = 89 = 89 * 1
    dig_pow(92, 1) should return -1 since there is no k such as 9¹ + 2² equals 92 * k
    dig_pow(695, 2) should return 2 since 6² + 9³ + 5⁴= 1390 = 695 * 2
    dig_pow(46288, 3) should return 51 since 4³ + 6⁴+ 2⁵ + 8⁶ + 8⁷ = 2360688 = 46288 * 51

In [15]:
digPow <- function(n, p) {
    # Split 'n' into its single digits
    n_split = as.numeric(strsplit(as.character(n), "")[[1]])

    # Get the exponents for each digit
    exponents = 1:length(n_split) + (p - 1)

    # Get the sum of the single digits to the power of the corresponding exponents
    n_exp_sum = sum(n_split ^ exponents)

    # Check if there is a 'p', such that 'p' * 'n_exp_sum' = 'n'
    if (n_exp_sum %% n == 0) return(n_exp_sum / n)
    return(-1)
}

In [16]:
testing <- function(n, p, expect) {
  cat("n: ", n, " p: ", p, "\n")
  actual <- digPow(n, p)
  cat("actual:\n ", actual, "\n")
  cat("expect:\n ", expect, "\n")
  expect_equal(actual, expect)
}

test_that("fixed tests", {
  testing(89, 1, 1)
  testing(92, 1, -1)
  testing(46288, 3, 51)
  
})

n:  89  p:  1
actual:
  1
expect:
  1
n:  92  p:  1
actual:
  -1
expect:
  -1
n:  46288  p:  3
actual:
  51
expect:
  51

# 9. Mutual Recursion
Mutual Recursion allows us to take the fun of regular recursion (where a function calls itself until a terminating condition) and apply it to multiple functions calling each other!

Let's use the Hofstadter Female and Male sequences to demonstrate this technique. You'll want to create two functions F and M such that the following equations are true: 

        F(0) = 1
        M(0) = 0
        F(n) = n - M(F(n - 1))
        M(n) = n - F(M(n - 1))
        
Don't worry about negative numbers, n will always be greater than or equal to zero.

Hofstadter Wikipedia Reference http://en.wikipedia.org/wiki/Hofstadter_sequence#Hofstadter_Female_and_Male_sequences

In [17]:
# Write Functions
f <- function(n){
  if (n <= 0) {
      return(1)
  } else {
      return(n - m(f(n-1)))
  }
}

m <- function(n){
    if (n <= 0) {
        return(0)
    } else {
      return(n - f(m(n-1)))
  }
}

In [18]:
# Test it
test_that("Sample Tests", {
  expect_equal(f(0), 1)
  expect_equal(f(5), 3)
  expect_equal(f(10), 6)
  expect_equal(m(0), 0)
  expect_equal(m(5), 3)
  expect_equal(m(10), 6)
})

# 10. Consecutive strings
You are given an array(list) strarr of strings and an integer k. Your task is to return the first longest string consisting of k consecutive strings (follow one after another without an interruption) taken in the array.
Examples:

    strarr = ["tree", "foling", "trashy", "blue", "abcdef", "uvwxyz"], k = 2

    Concatenate the consecutive strings of strarr by 2, we get:

    treefoling   (length 10)  concatenation of strarr[0] and strarr[1]
    folingtrashy ("      12)  concatenation of strarr[1] and strarr[2]
    trashyblue   ("      10)  concatenation of strarr[2] and strarr[3]
    blueabcdef   ("      10)  concatenation of strarr[3] and strarr[4]
    abcdefuvwxyz ("      12)  concatenation of strarr[4] and strarr[5]

    Two strings are the longest: "folingtrashy" and "abcdefuvwxyz".
    The first that came is "folingtrashy" so 
    longest_consec(strarr, 2) should return "folingtrashy".

    In the same way:
    longest_consec(["zone", "abigail", "theta", "form", "libe", "zas", "theta", "abigail"], 2) --> "abigailtheta"

n being the length of the string array, if n = 0 or k > n or k <= 0 return "" (return Nothing in Elm).

In [19]:
# Write Code
longestConsec <- function (strarr, k) {
    
    # EdgeCases: strarr is longer than 'k'
    if (length(strarr) < k) return("")
    if (k <= 0) return("")
    if (length(strarr) == 0) return("")
    
    # Paste together the 'k'-consecutive elements in 'strarr' & count their letters
    conecated_len = lapply(1:((length(strarr) - k) + 1), function(i) {
        nchar(paste0(strarr[i:(k+i-1)], collapse = ""))
    })
    
    # Get the first index, with the maximum length of conecated words
    max_len_idx   = which(unlist(conecated_len) == max(unlist(conecated_len)))[1]
    
    # Paste the two words that led to the longest word & return it
    paste(strarr[max_len_idx:(max_len_idx+k-1)], collapse = "")
}

In [20]:
# Test it
testing <- function(strarr, k, expected) {
  actual <- longestConsec(strarr, k)
  expect_equal(actual, expected)
}
test_that("tests", {
  testing(c("zone", "abigail", "theta", "form", "libe", "zas"), 2, "abigailtheta")
  testing(c(), 3, "")
  testing(c("it","wkppv","ixoyx", "3452", "zzzzzzzzzzzz"), 0, "")
})